<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964749476620-2fkin5t63tdg6jul488vnd4pk1a6actd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964749476620-2fkin5t63tdg6jul488vnd4pk1a6actd</string>
	<key>API_KEY</key>
	<string>AIzaSyAfBDET_h_xmo-7264lBUPoJs2BOU_T3kM</string>
	<key>GCM_SENDER_ID</key>
	<string>964749476620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoTracker</string>
	<key>PROJECT_ID</key>
	<string>crypto-tracker-1ba1d</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-tracker-1ba1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964749476620:ios:dca98c22ee2d5f5888bf29</string>
</dict>
</plist>